<mat-toolbar class="toolbar"  fxLayoutAlign="start center" style="min-height: 15vh;">
  <mat-toolbar-row>
  <img src="../assets/multirao.png"  class="responsive-image">
  <span class="example-spacer"></span>
  <img src="../assets/solidaria.png"    class="responsive-image" >
  <span class="example-spacer"></span>
  <img src="../assets/igreja.png"    class="responsive-image" >
  </mat-toolbar-row>
 
</mat-toolbar>
<mat-toolbar class="toolbar-2" style="min-height: 10vh;" fxLayoutAlign="start center">
  
  <mat-toolbar-row>
    <span class="title">Mutirão de Natal 2023 - Igreja Adventista do Pênfigo</span>
  </mat-toolbar-row>
</mat-toolbar>



<div class="container" role="main"  fxLayout="column">
<div  style="margin-top: 5em" fxLayout="column" fxLayoutGap="4em">
  <div fxLayout="row"  fxLayout.lt-md="column" fxLayoutAlign="center center">
  
  
  
  
    <mat-card  class="card-form" fxFlex="50" fxFlex.lt-md="100">
      <mat-card-header style="text-align:center; display: block !important">   
            <mat-card-title style="text-align:center;" >Caros membros e amigos da IASD Pênfigo </mat-card-title>
       
      </mat-card-header>
      <mat-card-content  style="text-align: justify;">
        <div fxLayout="row"  fxLayout.lt-md="column" fxLayoutAlign="center center"  fxLayoutGap="4em" >
<img src="../assets/pastor.jpg"  class="responsive-image-pastor"/>

<div style="font-size: 16px;">
<p>Todos nós temos um senso de dever pelos mais necessitados em nosso coração, no final do ano, isso é despertado com mais intensidade dentro de nós. E nesse ano queremos mais uma vez nos mobilizar para fazer a diferença na vida de quem mais precisa. O Mutirão de Natal não é apenas uma tradição, mas um compromisso duradouro com o espírito do Natal. É uma oportunidade para demonstrarmos o amor e a compaixão que são essenciais para a nossa fé. Quando nos unimos em serviço redescobrimos o amor adormecido pelo próximo. </p>

<p>Este projeto tem um impacto direto nas vidas daqueles que estão passando por dificuldades. Ao fornecermos alimento e roupas estamos aliviando o fardo de muitas famílias em nossa comunidade que podem estar enfrentando desafios econômicos. Além disso, o Mutirão de Natal oferece esperança e alegria desde criança até idosos, tornando a época festiva mais brilhante para todos.</p>

<p>Mas o Mutirão de Natal não beneficia apenas aqueles que recebem; ele também enriquece nossas próprias vidas. Ao participar ativamente deste projeto, experimentamos um profundo senso de realização e alegria, sabendo que fizemos a diferença na vida de alguém. Ele fortalece nossos laços como uma comunidade unida, promovendo a solidariedade e o espírito de equipe.</p>

<p>Neste Natal, convido todos vocês a se juntarem a nós no Mutirão de Natal da Igreja Adventista do Sétimo Dia da IASD do Pênfigo e a compartilharem o amor e a generosidade que são o cerne que é a base da nossa jornada cristã. Cada ato de bondade que realizamos torna nosso mundo um lugar melhor. Obrigado por fazer parte deste projeto e por ajudar a iluminar o Natal de muitas pessoas.</p>

<p>Que Deus abençoe a todos nós e que Jesus, o verdadeiro espírito do Natal nos guie em todos os nossos esforços.</p>

<br/>


<p>Com gratidão e amor.</p>

<br/>

<p>Cleidson Corsino da Silva</p>

<br/>

<p>Pastor do Distrito do Pênfigo.</p>

</div>
</div>
        <mat-divider></mat-divider>
      </mat-card-content>
    </mat-card>
  
  <mat-card  class="card-form" fxFlex="30" fxFlex.lt-md="100">
    <mat-card-header>
     
      <mat-card-title style="text-align: center;">Colabore com qualquer valor. Envie um Pix para a chave abaixo: </mat-card-title>
    </mat-card-header>
    <mat-card-content style="text-align: center;">
      <p class="bold-big">pix.80.asm@adventistas.org
      <mat-divider></mat-divider>
      <div  class="equipes">
      <p >Por favor, identifique no comentário do PIX para qual equipe você está doando dessa forma:</p>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" style="margin-bottom: 5px;">
      <span class="dot blue"></span><span style="font-weight: bold;"> EQUIPE AZUL</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px"  style="margin-bottom: 5px;">
      <span class="dot yellow"></span><span style="font-weight: bold;"> EQUIPE AMARELA</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px"  style="margin-bottom: 5px;">
      <span class="dot-white"></span><span style="font-weight: bold;"> EQUIPE BRANCA</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px"  style="margin-bottom: 5px;">
      <span class="dot green"></span><span style="font-weight: bold;"> EQUIPE VERDE</span>
    </div>
  </div>
    </mat-card-content>
  </mat-card>

  </div>
  <div fxLayout="row" fxLayoutAlign="center center">

  <mat-card  class="card-form" fxFlex="40" fxFlex.lt-md="100" >
    <mat-card-content style="text-align: center;">
  <video id="video" controls>
    <source src="../assets/mensagem.mp4" type="video/mp4">
    
  Your browser does not support the video tag.
  </video>
</mat-card-content>
  </mat-card>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <h1 class="dancing-font">Fotos do lançamento do programa</h1>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    
    <div fxLayout="column" fxFlex="45">
      <mat-grid-list [cols]="cols" rowHeight="200px">

        <mat-grid-tile *ngFor="let item of items" (click)="ampliarImagem(item)"><img class="img-responsive"
            src="{{ item.url }}" style="max-width: 240px; object-fit: cover" /></mat-grid-tile>

      </mat-grid-list>

    </div>
   
  </div>

  